.appartement{
        background-image: linear-gradient(to top, #863535, #ff6060);
        border-radius: 1rem;
        flex-basis: 25%;
        gap: 1rem;
        display: grid;
        align-items: end;
        padding: 1rem;
        margin: 1rem;
        min-width: 200px;
}
.title-appartment{
        width: 50%;
        color: white;     
}
.title-appartment a {
        text-decoration: none;
}