.equipements{
    color: #FF6060;
    margin-block: 0;
    width: 50%;
}

.titre_equipements{
    background-color: #FF6060;
    color: white;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.titre_equipements i {
    cursor: pointer;
}

.equipements_content{
    background-color: #dfdbdb;
    color: #FF6060;
    padding: 1rem;
    border-radius: 0.7rem;
    margin-block: 0;
    position: relative;
    top: -0.3rem;
    z-index: -1;
}